body{
    margin: 0;
    text-align: center !important;
    font-family: sans-serif;
}
#page-heading
{
    color: gray;
    margin-top: 25px;
}
.container
{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li
{
    list-style: none;
}
#details
{
    text-align: center;
    width: 30vw;
    background-color: royalblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
    padding: 2px;
    border-radius: 2px;
}
#details:hover
{
    background-color: grey;
    cursor: pointer;
}
#contact-details
{
    width: 28vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contact-details p
{
    margin: 4px 6px;
    font-size: 1.3rem;
    font-weight: bold;
    display: inline-block;
}
.delete-button
{
    margin-right: 5px;
}
.delete-button a 
{
    text-decoration: none;
}
.delete-button a i
{
    font-size: 1.3rem;
    color:red;
}
form{
    margin: 2px 10px;
}
input
{
    padding: 3px ;
    width: 11vw;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid grey;
}
button
{
    padding: 2px 4px;
    color: white;
    font-size: 1.2rem;
    background-color:grey;
    border:none;
    width: 5vw;
}
button:hover
{
    background-color: royalblue;
}
